/* 🥕 */
:root{
--main-clr: #0088e6;
--quote-box-clr: #50e6c0;
--text-clr: #98b0a8;
--author-clr: #364b44;
}
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#container{
    background: var(--main-clr);
    display: grid;
    height: 100vh;
    margin: auto;
    place-items: center center;
    width: 100vw;
    
}
#quote-box{
    position: relative;
    display: table;
    background: var(--quote-box-clr);
    max-width: 450px;
    height: 20vh;
    padding: 3em 3.5em;
}
#new-quote{
    color: var(--text-clr);
    /* min-width: 2.5em; */
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 1.8em;
    border:2px solid #46b8da;
    font-family: inherit;
    font-weight: bold;
    padding:5px;
}
.qod-author{
    color: var(--author-clr);
    text-align: end;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
#tweet-quote{
    font-size: 1.7rem;
} 
.fa-twitter{
    color: var(--main-clr);
        
}
button{
    margin-top: .7em;
}
a{
    text-decoration: none;
}
